<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlanetSide 2 k/d</title>
</head>
<body>

<form action="/">
    <fieldset>
        <label for="character_name">Character name:</label>
        <input id="character_name" type="text" name="characterName" th:value="${characterName}">
    </fieldset>
</form>

<table>
    <tbody>
        <tr th:each="stat : ${stats}">
            <td th:text="${stat.key}"></td>
            <td th:text="${stat.value}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>